<ion-header>

    <ion-toolbar>
      <ion-icon name="arrow-round-back" color="primary" style="font-size:40px;float: left;left: 0;margin:0"
        (click)="goback()"></ion-icon>
  
      <ion-title>
    Book Tickets
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content >
  
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center >

        <mat-card >
          <div text-center>
          </div>
          <div padding>
            <form class="example-form">
                      <ion-img class="center"  [src]="movie.image_url" style="height:250px"></ion-img>
                      <ion-item>
                        <ion-label position="floating">{{movie.name}}</ion-label>
                        <ion-input></ion-input>
                      </ion-item>
                      <ion-item>
                          <ion-label position="floating">tickets</ion-label>
                          <ion-input name="tickets"  [(ngModel)]="data.tickets"></ion-input>
                        </ion-item>
                    

                                <mat-checkbox color="primary" >i agree to the <a>Terms and Conditions</a></mat-checkbox>
                                <br><br>

              <ion-button size="large" expand="block" (click)='addBooking(movie,data.tickets)'>Book Now</ion-button>
             

            </form>
          </div>
        </mat-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>