.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
  .center1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
  }
  ion-card-subtitle{
      color:black
  }